<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Training program</title>
</head>
<body>
<h3>Training program</h3>
<div th:text="${'id: '+trainingProgram.getId()}"/>
<div th:text="${'program name: '+trainingProgram.getProgramName()}"/>

<div>sets of exercises:
    <div th:each="k: ${dict.keySet()}">
        <p th:text="${k}"></p>
        <ul>
            <li th:each="d : ${dict.get(k)}" th:text="${d.getName()}"></li>
        </ul>
    </div>

</div>

<div th:text="${'athletes: '+trainingProgram.getAthletes()}"/>
<a th:href="@{/training_programs/{id}/edit(id=${trainingProgram.getId()})}">edit</a>
</body>
</html>