<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
</head>
<body>
<h3>Main page</h3><br/>
<p th:text="${'Your login: '+username}"/>
<p><a th:href="@{/athletes/{id}(id=${idAthlete})}">Your profile</a></p>
<p th:text="${'Your authorities: '+autorities}"/>
<a th:if="${isAdmin == true}" href="/admin">admin page</a>
<form th:action="@{/auth/logout}" th:method="POST">
    <input type="submit" value="Logout"/>
</form>
<br/>

</body>
</html>